.work__main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wip {
    font-size: 7rem;
    font-weight: 400;
    font-family: 'Almarena-Display-Regular', sans-serif;
  }
}
