@charset "UTF-8";
.title {
  font-family: 'Almarena-Display-regular';
}

.document {
  padding: 0 10em;
  background-color: #fff2f2;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 0;
  font-family: 'Almarena-Display-Regular', sans-serif;
  padding: 2em 8em;
}

.header p {
  font-size: 3.2rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  font-size: 1.5rem;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.blog__link {
  margin-left: 2em;
}

.active {
  font-size: 2rem;
  font-weight: bold;
}

.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home__main .home__text {
  min-width: 40vw;
  margin-top: 2em;
}

.home__main .home__text__intro {
  font-family: 'Almarena-Display-regular';
  font-size: 6rem;
  margin-top: 2em;
}

.home__main .home__text__presentation {
  font-size: 2.4rem;
  margin: 4em 0;
}

.home__button {
  padding: 1em 7em;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
}

.home__illustration {
  min-width: 40vw;
  margin-top: 3em;
}

.contact__page {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__page .contact__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__page .contact__main .contact__mail {
  font-family: 'Almarena-Display-Regular';
  font-size: 5.5rem;
  margin-top: 30vh;
  margin-bottom: 1.4em;
}

.contact__page .contact__main .contact__list {
  font-size: 1.8rem;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.softskills__intro,
.technical__skills__intro,
.learning__intro,
.process__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.softskills__intro__title,
.technical__skills__intro__title,
.learning__intro__title,
.process__intro__title {
  font-size: 7rem;
  padding: 0.5em 0;
  font-weight: 400;
  font-family: 'Almarena-Display-Regular', sans-serif;
  text-align: center;
}

.softskills__intro__text,
.technical__skills__intro__text,
.learning__intro__text,
.process__intro__text {
  width: 50%;
  font-size: 3rem;
  padding: 1em 0;
  text-align: center;
}

.softskills__intro,
.learning__intro,
.process__intro {
  margin-top: 10%;
}

.learning__section,
.softskills__section,
.main__skills__technical {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learning__section__field,
.softskills__section__field,
.main__skills__technical__field {
  font-size: 4rem;
  font-family: 'Almarena-Display-Regular';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  position: relative;
}

.learning__section__field p,
.softskills__section__field p,
.main__skills__technical__field p {
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  opacity: 0;
}

.learning__section__field:hover,
.softskills__section__field:hover,
.main__skills__technical__field:hover {
  background-color: #771212;
  color: white;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.learning__section__field:hover::before,
.softskills__section__field:hover::before,
.main__skills__technical__field:hover::before {
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  opacity: 0;
}

.learning__section__field:hover p,
.softskills__section__field:hover p,
.main__skills__technical__field:hover p {
  opacity: 1;
  -webkit-transition: ease-out opacity 2s;
  transition: ease-out opacity 2s;
}

.learning__section__field::before,
.softskills__section__field::before,
.main__skills__technical__field::before {
  content: 'content';
  font-size: 15rem;
  position: absolute;
  padding-left: 10vw;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__skills {
  padding: 0;
}

.main__skills__technical {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.frontend::before {
  content: 'Frontend →';
}

.backend::before {
  content: 'Backend →';
}

.database::before {
  content: 'Database →';
}

.languages::before {
  content: 'Languages →';
}

.devops::before {
  content: 'DevOps →';
}

.team::before {
  content: 'Teamwork →';
}

.communication::before {
  content: 'Communication →';
}

.header__wrapper {
  padding: 0 10em;
}

.work__main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__main .wip {
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Almarena-Display-Regular', sans-serif;
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding-top: 20vh;
}

.about__main aside {
  width: 40vw;
}

.about__main .about__section {
  width: 25vw;
}

.about__main .about__section__intro {
  font-size: 3rem;
}

.about__main .about__section__intro__hello {
  font-weight: bold;
}

.about__main .about__section__intro__presentation {
  padding: 1em 0;
}

.about__main .about__section__content p {
  padding: 1em 0;
}

.animated_link {
  position: relative;
}

.animated_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.animated_link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=styles.css.map */